body{
    background-color: #121212;
}
h3{
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-weight: normal;
    font-size: 60px;
    margin-left: 150px;
    margin-top: 100px;
}

.card-section #card-items-container{
    border: #ffffff 2px solid;
    border-radius: 20px;
    height: 270px;
    margin-top: 35px;
    display: flex;

}
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}
.card-total{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
#checkout-btn{
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: green;
}

section div p {
    color:#ffffff;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

.container-products{
    width: 1600px;
    margin-left: 150px;
}

h5{
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
}

h6{
    font-family: "Oswald", sans-serif;
    color: #929292;
    font-weight: bold;
    font-size: 20px;
}

.container-informations-item{
    margin-top: 30px;
}

h4{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.container-color{
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.box-color{
    width: 31px;
    height: 31px;
    background-color: #F2D8D7;
    margin-left: 10px;
    align-items: center;
    border-radius: 50px;
    border: #ffffff 3px solid;
}

.container-quantity{
    display: flex;
    width: 550px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-less-quantity{
    background-color: #121212;
    border: #ffffff 2px solid;
    border-radius: 20px;
    width: 70px;
    height: 45px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

hr{
    border: none;
    background-color: #ffffff;
    width: 30px;
    height: 3px;
}

.container-quantity-number{
    width: 70px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-more-quantity{
    width: 70px;
    height: 45px;
    border-radius: 20px;
    background-color: #F6AE01;
    border: none;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.container-value{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-items{
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.btn-remove-item{
    width: 145px;
    height: 45px;
    border: none;
    background-color: #121212;
    color: #F6AE01;
    border: #F6AE01 3px solid;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.container-remove{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-promo-code{
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.container-finalization{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    height: 270px;
    grid-column: 1;
}

.input-promo-code{
    border-radius: 40px;
    border: none;
    background-color: #ffffff;
    width: 530px;
    height: 40px;
    font-size: 20px;
    font-family: "Anton", sans-serif;
}

.btn-aplicar-codigo{
    width: 145px;
    height: 45px;
    border: none;
    background-color: #F6AE01;
    color: #ffffff;
    border: #F6AE01 3px solid;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.box-text-aplicate{
    height: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-items{
    display: flex;
    gap: 200px;
    margin-left: 200px;
}

.items-frete{
    font-size: 25px;
    color:#929292;
}

.box-frete{
    display: flex;
    gap: 300px;
    margin-left: 200px;
}

.box-price-total{
    display: flex;
    gap: 200px;
    margin-left: 200px;
}

.total-price{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 30px;
}