body{
    background-color: #121212;
}

#container-register{
    height: 913px;
    background-image: url('../assets/camps-initial-img.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.title-register-camps{
    font-family: "Anton", sans-serif;
    font-size: 300px;
    color: #FFFFFF;
    margin-left: 350px;
    margin-top: 100px;
    font-weight: normal;
}

.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 370px;
    background: linear-gradient(to right, #41371E, #F6AE01);
    font-weight: bold;
    transform-origin: 0 0;
    transform: skewX(-20deg);
    border: 2px solid white; 
    overflow: hidden;
    margin-left: 850px;
    text-decoration: none;
}

.register-button a{
    text-decoration: none;
}

h5{
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    transform: skewX(20deg);
    font-size: 30px;
    color: #FFFFFF;
}

#container-time{
    height: 913px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-image-time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gym{
    border: #F6AE01 10px solid;
}

.container-informations-time{
    align-items: center;
    margin-top: 130px;
    line-height: 4rem;
}

.linha-action{
    border: none;
    height: 5px;
    width: 50px;
    background-color: #F6AE01;
    margin: 0; 
}

.action{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #F6AE01;
    font-weight: bold;
    display: flex;
}

.informations-title{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.container-informations{
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    font-size: 45px;
}

h3{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
}

.work-time{
    color: #F6AE01;
}

.maps-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 270px;
    font-size: 30px;
    border: #F6AE01 6px solid;
}

.maps-button a{
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

#container-classes{
    height: 85vh;
}

.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-class{
    font-size: 60px;
    font-family: "Anton", sans-serif;
    font-weight: normal;
    color: #FFFFFF;
}

.subtitle-class{
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    font-weight: lighter;
    color: #F6AE01;
}

.container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden; 
    border-radius: 15px;
    margin-top: 100px;
}

input[type="radio"] {
    display: none; 
}

.card {
    width: 150px; 
    height: 400px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s ease; 
}

input:checked + .card {
    width: 400px;
    background-color: #555555; 
}

.card > .row {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card > .row > .icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px auto 0;
}

.card > .row > .description {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 275px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s ease 0.2s;
}

input:checked + .card .description {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.card > .row > .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#c1 + .card {
    background-image: url('/frontend/src/assets/img\ -\ funcional.jpg'); 
    background-size: cover;
    background-position: center;
}

#c2 + .card {
    background-image: url('/frontend/src/assets/img\ -\ jumping.jpg');
    background-size: cover;
    background-position: center;
}

#c3 + .card {
    background-image: url('/frontend/src/assets/img\ -\ kickboxing.jpg');
    background-size: cover;
    background-position: center;
}
#c4 + .card {
    background-image: url('/frontend/src/assets/img\ -\ ritmo.jpg'); 
    background-size: cover;
    background-position: center;
}

#c5 + .card {
    background-image: url('/frontend/src/assets/img\ -\ step.jpg');
    background-size: cover;
    background-position: center;
}

#c6 + .card {
    background-image: url('/frontend/src/assets/img\ -\ taekwondo.jpg');
    background-size: cover;
    background-position: center;
}

.btn-aulas{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    text-shadow: 6px 6px 8px grey;
    text-decoration: none;
    pointer-events: none;
    cursor: default; 
}

input:checked + .card .btn-aulas {
    pointer-events: auto;
    cursor: pointer;
}