body {
  background-color: #121212;
  font-family: "Arial Black", sans-serif;
  color: #F6AE01;
  margin: 0;
  padding: 0;
}

.banner {
position: relative;
background-color: #121212;
display: flex;
align-items: center;
justify-content: center;
}

.banner img {
margin-top: 42px;
display: block;
object-fit: contain; 
border: none;
}

.planos-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 2rem 1rem;
}

.plano-card {
  border-radius: 12px;
  padding: 3rem 2rem;
  width: 370px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.plano-card:hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}

.plano-semestral,
.plano-anual {
  background-color: #2b2b2b;
  margin-top: 40px;
}

h3{
    color: #F6AE01;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    margin-top: -30px;
}

.plano-mensal-h3{
  font-family: "Anton", sans-serif;
    font-size: 40px;
    margin-top: -30px;
    color: #000;
}

.titulo-anual {
  color: #F6AE01;
}

.destaque {
    background-color: #F6AE01;
    color: #000;
    height: 420px;
    z-index: 2;
}

.destaque h2{
    color: #000;
}

.destaque :hover{
    transform: scale(1.05);
    transition: 0.2s ease;
}
.plano-card h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 4rem;
  font-family: "Anton", sans-serif;
}

.parcelas{
  font-family: "Anton", sans-serif;
  font-size: 50px;
  font-weight: normal;
  margin-top: -20px;
}

.valor{
  font-family: "Anton", sans-serif;
  font-size: 80px;
  font-weight: normal;
}

.valor {
  font-size: 3.3rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.valor span {
  font-size: 1.2rem;
  vertical-align: super;
  margin-left: 3px;
}

.plano-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.descricao {
  text-align: center;
  font-family: "Anton", sans-serif;
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
}

button {
  background-color: #F6AE01;
  color: #000;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Arial Black", sans-serif;
  margin-top: 30px;
}

button:hover {
  background-color: #F6AE01;
  transform: scale(1.05);
}

.destaque button {
  background-color: #000;
  color: #F6AE01;
}

.destaque button:hover {
  background-color: #1a1a1a;
}

.info-final {
  font-size: 30px;
  color: #F6AE01;
  font-family: "Arsenal SC", sans-serif;
  display: flex;
  justify-content: center;
}