* { 
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

a { 
    color: black;
}

.back-home { 
    font-size: 16px;
}

.back-arrow img { 
    margin-top: 1px;
}

.back-arrow { 
    display: flex;
    align-self: center;
    padding: 20px;
    align-items: center;
}

.main-grid { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
}

.details-grid { 
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 2px 5px gainsboro;
    padding-right: 10px;
    margin: 10px 50px 20px 50px;
}

.img-grid { 
    display: flex;
    box-shadow: 0 2px 5px gainsboro;
    margin: 10px 50px 100px 50px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    height: 95.5%;
}

.main-img { 
    display: grid;
    box-shadow: 0 2px 5px gainsboro;
    border-radius: 16px;
    margin: 10px 50px 60px 50px;
    
}

.main-thumb-grid { 
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.main-thumb-grid img {
    object-fit: cover;
}

.img-grid img,
.thumb-img img { 
    width: 70%;
}

.thumb-img img { 
    max-width: 400px;
}

.thumb-img { 
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    align-self: center;
}

.thumb-img img { 
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.add-section { 
    display: grid;
    grid-template-rows: repeat(autofit, minmax(0, 1fr));
    gap: 10px;
}

.add-cart { 
    display: grid;
    justify-self: center;
}

h3, p { 
    padding: 8px 20px;
}

p { 
    font-size: 0.9rem;
}

h3 { 
    font-size: 2rem;
}

.buy-now { 
    display: grid;
    justify-self: center;
}

.buy-now-btn { 
    border-radius: 10px;
    background-color: #252525;
    transition: background-color 0.4s ease-in-out;
    color: #fff;
    border: none;
    outline: none;
    width: 50rem;
    height: 3rem;
    align-self: center;
    cursor: pointer;
}

.cart-btn { 
    border-radius: 10px;
    transition: background-color 0.4s ease-in-out;
    background-color: #fff;
    color: #252525;
    outline: none;
    width: 50rem;
    align-self: center;
    height: 3rem;
    cursor: pointer;
}

.cart-btn:hover { 
    background-color: goldenrod;
    border: none;
}

.buy-now-btn:hover { 
    background-color: goldenrod;
}

.product-details { 
    font-size: 1.2rem;
    font-weight: 700;
}

.product-details-text { 
    color: #616161;
}

.change-color { 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 15px;
    height: 60px;
    border-radius: 10px;
}

.change-color1,
.change-color2,
.change-color3 { 
    background-color: #fff;
    border-radius: 8px;
}

.change-size1,
.change-size2,
.change-size3 { 
    background-color: #fff;
    border-radius: 8px;
}

.change-color1:hover,
.change-color2:hover,
.change-color3:hover { 
    cursor: pointer;
}

.change-size1:hover,
.change-size2:hover,
.change-size3:hover { 
    cursor: pointer;
}

.change-color1.selected,
.change-color2.selected,
.change-color3.selected { 
    background-color: #252525;
    color: #fff;
}

.change-size1.selected,
.change-size2.selected,
.change-size3.selected { 
    background-color: #252525;
    color: #fff;
}

.change-size { 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 15px;
    height: 60px;
    border-radius: 8px;
    transition: all 0.4s;
    background-color: #fff;
}