* { 
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

a { 
    color: black;
}

.back-arrow img { 
    margin-top: 10px;
}

.back-arrow { 
    display: flex;
    align-self: center;
    padding: 20px;
    align-items: center;
}

.main-grid { 
    display: grid;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    gap: 2rem;
    width: 100%;
}

.details-grid { 
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 2px 5px gainsboro;
    padding-right: 10px;
    margin: 10px 50px 20px 50px;
}

.img-grid { 
    display: grid;
    grid-template-columns: repeat(2, minxmax(0, 1fr));
}

.main-img { 
    box-shadow: 0 2px 5px gainsboro;
    border-radius: 16px;
    margin: 10px 50px 20px 50px;
}

.img-grid img { 
    width: 70%;
}

.thumb-img img { 
    width: 80%;
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 5px gainsboro;
}

.thumb-img img:hover { 
    transform: scale(1.05);
}

.size { 
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 15px;
    height: 60px;
}

#size { 
    border-radius: 40px;
    border: none;
    outline: none;
}

.add-section { 
    display: grid;
    grid-template-rows: repeat(autofit, minmax(0, 1fr));
    gap: 10px;
}

.add-cart { 
    display: grid;
    justify-self: center;
}

h3, p { 
    padding: 10px 30px;
}

p { 
    font-size: 0.9rem;
}

h3 { 
    font-size: 2rem;
}

.buy-now { 
    display: grid;
    justify-self: center;
}

.buy-now-btn { 
    border-radius: 10px;
    background-color: #252525;
    transition: background-color 0.4s ease-in-out;
    color: #fff;
    border: none;
    outline: none;
    width: 48rem;
    height: 3rem;
}

.cart-btn { 
    border-radius: 10px;
    transition: background-color 0.4s ease-in-out;
    background-color: #fff;
    color: #252525;
    outline: none;
    width: 48rem;
    height: 3rem;
}

.cart-btn:hover { 
    background-color: goldenrod;
    border: none;
}

.buy-now-btn:hover { 
    background-color: goldenrod;
}

.product-details { 
    font-size: 1.2rem;
    font-weight: 700;
}

.product-details-text { 
    color: #616161;
}