.sobre-nos {
    width: 100%;
    text-align: center;
    margin-top: -40px;
    background: #000;
}

.sobre-nos img {
    width: 100%;       /* ocupa toda a largura */
    height: auto;      /* mantém proporção original */
    display: block;    /* evita espaçamentos extras */
    object-fit: contain; /* garante que não corta */
}

.sobre-nos {
    width: 100%;
    background: #000;
}

.sobre-nos img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 70px;
}


/* SEÇÃO DOS 3 CARDS */
.cards-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 70px 25px;
    background: #000; /* Fundo escuro igual ao site */
    margin-bottom: 30px;
}

/* ESTILO DOS CARDS AMARELOS */
.card {
    background: #F6AE01;    /* Amarelo */
    padding: 65px 20px;
    border-radius: 20px;    /* Bordas arredondadas */
    width: 250px;           /* Largura igual à do modelo */
    text-align: center;
    color: #000;
    font-family: sans-serif;
    margin-bottom: 30px;
}

/* TÍTULO MAIOR */
.card h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
    color: black;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
}

/* TEXTO MENOR */
.card p {
    font-size: 16px;
    font-weight: 600;
    font-family: "Anton", sans-serif;
    font-weight: 100;
}

.nossa-equipe {
    width: 100%;
    text-align: center;
    margin-top: -40px;
}

.nossa-equipe img {
    width: 100%;       /* ocupa toda a largura */
    height: auto;      /* mantém proporção original */
    display: block;    /* evita espaçamentos extras */
    object-fit: contain; /* garante que não corta */
}

.nossa-equipe {
    width: 100%;
}

.nossa-equipe img {
    width: 100%;
    height: auto;
    display: block;
}