body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #111;
color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}

.sobre-nos {
position: relative;
text-align: left;
margin-top: -40px;
}

.sobre-nos img {
width: 100%;
height: 600px;
object-fit: cover;
display: block; 
}

.sobre-nos-texto {
position: absolute;
top: 240px;
left: 200px;
}

.sobre-nos-texto h1 {
font-size: 80px;
margin: 0;
font-weight: bold;
font-family: "Anton", sans-serif;
font-weight: 100;
}

.sobre-nos-texto p {
font-size: 18px;
}


.molduras {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 40px 0;
}

.moldura {
  width: 300px;
  height: 250px;
  border: 2px solid #fff;
  background-color: transparent;
  position: relative; 
  overflow: hidden;
}

.moldura img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nome {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: "Anton", sans-serif;
  font-weight: 100;
}

.nossa-historia {
display: flex;
align-items: flex-start;
gap: 40px;
padding: 40px;
}

.nossa-historia img {
width: 35%;
border-radius: 5px;
}

.nossa-historia-texto h2 {
font-size: 35px;
margin-bottom: 8px;
margin-right: 380px;
}

.nossa-historia-texto h3 {
font-size: 18px;
color: #f9c300; 
margin-bottom: 15px;
}

.nossa-historia-texto p {
font-size: 16px;
line-height: 1.5;
margin-top: 30px;
}