body {
margin: 0;
background-color: #111;
color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}

.sobre-nos {
position: relative;
text-align: left;
margin-top: -40px;
}

.sobre-nos img {
width: 100%;
height: 600px;
object-fit: cover;
display: block; 
}

.sobre-nos-texto {
position: absolute;
top: 130px;
left: 200px;
}

.subtitle-aboutus{
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: lighter;
}

.sobre-nos-texto h1 {
font-size: 120px;
margin: 0;
font-weight: bold;
font-family: "Anton", sans-serif;
font-weight: 100;
}

.molduras {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 40px 0;
}

.moldura {
  width: 300px;
  height: 250px;
  border: 3px solid #f9c300;
  background-color: transparent;
  position: relative; 
  overflow: hidden;
}

.moldura img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nome {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: "Anton", sans-serif;
  font-weight: 100;
}

.nossa-historia {
display: grid;
grid-template-columns: 1fr;
padding: 40px;
margin-bottom: 36px;
margin-top: 30px;
gap: 30px;
}

.container-image-time{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.image-gym{
  border: #F6AE01 6px solid;
}

.image-gym img {
  width: 600px;
  object-fit: cover;
}

.nossa-historia-texto{
  grid-column: 2;
}

.nossa-historia-texto h2 {
font-size: 50px;
font-family: "Anton", sans-serif;
color: #f9c300; 
font-weight: normal;
}

.nossa-historia-texto h3 {
margin-top: 30px ;
font-size: 23px;
color: white;
margin-bottom: 15px;
margin-left: 42px;
font-family: "Oswald", sans-serif;
text-align: justify;
}

.nossa-historia-texto p {
font-size: 16px;
line-height: 1.5;
margin-top: 30px;
}