* { 
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header div ul li{
    display: flex;
    align-items: center;
}

header div ul li a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: #F6AE01;
    font-size: 30px;
    font-weight: bold;
}

.off-screen-menu{
    background-color: #242424;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    z-index: 1;
}

.off-screen-menu.active{
    left: 0;
}

nav{
    padding: 1rem;
    display: flex;
}

.ham-menu {
  z-index: 1;
  width: 50px;
  height: 50px;
  top: 10px;
  position: fixed;
  cursor: pointer;
}

.ham-menu span {
  position: absolute;
  left: 0;
  width: 35px;
  height: 4px;
  border-radius: 4px;
  background-color: #F6AE01;
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
     top: 12px;
}
.ham-menu span:nth-child(2) {
     top: 23px;
}

.ham-menu span:nth-child(3) {
     top: 34px;
}


.ham-menu.active span:nth-child(1) {
  top: 23px;
  transform: rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 23px;
  transform: rotate(-45deg);
}

h1 {
    font-family: "Anton", sans-serif;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 10px;
}

.logo-camps{
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 10px;
}

.container-footer{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 140vh;
    background-color: #F6AE01;
    position: sticky;
    bottom: 0;
    flex-direction: column;
}

.container-footer img{
    margin-top: -100px;
}

h2{
    font-family: "Inclusive Sans", sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.footer-left{
    grid-column: 1;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.footer-buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 70px;
}

.footer-right{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.btn-index{
    text-decoration: none;
}

hr{
    border: none;
    background-color: #FFFFFF;
    height: 2px;
    width: 30%;
    margin-top: -60px;
}

h6{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top: -60px;
}

.linha-socials{
    margin-top: -60px;
}

.title-camps{
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.linha-vertical {
  height: 400px;
  border-left: 2px solid #FFFFFF;
  display: flex;
}

.container-units{
    display: flex;
    height: 400px;
}

.unity-one{
    grid-column: 1;
    width: 850px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.unity-two{
    grid-column: 2;
    width: 850px;
    height: 100%;
    margin-left: 80px;
}

.name-units{
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.box-img-gym{
    display: flex;
    align-items: center;
    height: 470px;
}

.box-img-gym img{
    border: #FFFFFF 6px solid;
    border-radius: 20px;
}

.text-local{
    color: #FFFFFF;
}

.container-img-local{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-text{
    margin-top: -100px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.spacement-kesher{
    margin-top: -10px;
}

.container-kesher-github{
    display: grid;
    height: 400px;
    width: 1200px;
    grid-template-columns: 1fr;
}

.kesher-informations{
    grid-column: 1;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: -100px;
}

.github-contact{
    grid-column: 2;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.github-contact .item{
    display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 40px;
}

h4{
    font-family: "Inclusive Sans", sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin: 0;
}